to_resolve: heise.de
to_sleep: 13
host_to_ping:
  - 8.8.8.8
  - heise.de
ping_times: 6

default_gateway: 192.168.1.1
route_to_ensure:
  - 10.16.0.0/12

nameserver_qr: '^nameserver[ \t]*172\.'

verbose: 1

logger_config: |
  log4perl.rootLogger              = INFO, Screen
  log4perl.appender.Screen         = Log::Log4perl::Appender::Screen
  log4perl.appender.Screen.stderr  = 0
  log4perl.appender.Screen.layout=PatternLayout
  log4perl.appender.Screen.layout.ConversionPattern=%d %5p [%5P]%L - %m%n

wlan:
  interface: wlan0
  essid: YOUR-ESSID
